.cloud-body {
  background-image: url("http://eskipaper.com/images/space-wallpaper-22.jpg");
}
.cloud-body .form {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #F7F7F7;
  margin: 10% auto;
}
.cloud-body .form h1 {
  background: #43D1AF;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}
.cloud-body .form input[type="text"],
.cloud-body .form input[type="date"],
.cloud-body .form input[type="datetime"],
.cloud-body .form input[type="email"],
.cloud-body .form input[type="number"],
.cloud-body .form input[type="search"],
.cloud-body .form input[type="time"],
.cloud-body .form input[type="url"],
.cloud-body .form textarea,
.cloud-body .form select {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
.cloud-body .form input[type="text"]:focus,
.cloud-body .form input[type="date"]:focus,
.cloud-body .form input[type="datetime"]:focus,
.cloud-body .form input[type="email"]:focus,
.cloud-body .form input[type="number"]:focus,
.cloud-body .form input[type="search"]:focus,
.cloud-body .form input[type="time"]:focus,
.cloud-body .form input[type="url"]:focus,
.cloud-body .form textarea:focus,
.cloud-body .form select:focus {
  box-shadow: 0 0 5px #43D1AF;
  padding: 3%;
  border: 1px solid #43D1AF;
}
.cloud-body .form input[type="submit"],
.cloud-body .form input[type="button"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #43D1AF;
  border-bottom: 2px solid #30C29E;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
.cloud-body .form .form input[type="submit"]:hover,
.cloud-body .form .form input[type="button"]:hover {
  background: #2EBC99;
}
