// Mixins Here

.custom-btn (@font-S, @padding, @border-R) {
font-size:@font-S;
padding:@padding;
border-radius: @border-R;
}

.custom-btn-color(@bg, @col) {
	background-color: @bg;
	color: @col;
}

.mobile (@d,@fd) {
	display: @d;
	flex-direction: @fd;
}